@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap");
* {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Duru Sans";
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ff58259c;
}
input {
  color: orangered;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: orangered;
}
button {
  background-color: orangered;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  /* border: 1px solid black; */
  border: 0px;
}
button:hover {
  color: black;
  background-color: rgb(255, 238, 0);
}
#hide {
  display: none;
}

.login-btn {
  border-width: 1px;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  border-color: orangered;
}
